.footer{
    display:flex;
    justify-content: center;
    /* border: 1px solid; */
    border-radius: 10px;
    /* padding:0; */
}

.footer-align{
    /* border: 1px solid; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: flex-start; */
    padding: 3rem 0rem 0.5rem;
    width: 96rem;
    /* background-color: hsl(189, 94%, 43%, 0.1); */
    
}


.footer-row1-container{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 0 0.5rem;
    /* align-items: center; */
}

.footer-info-container{
    /* border: 1px solid; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.1rem;
    list-style-type: none;
    font-size: var(--size-sm);
    font-weight: 500;
    color: var(--clr-dark);
}

.footer-info-container li{
    padding-left: 1rem;
}


.footer-info-container a{
    text-decoration: none;
    color: var(--clr-dark);
}

.footer-logo{
    width: 330px;
    /* margin-right: 2rem; */
    /* height: 80px; */
    
}

.footer-navs-container{
    /* border: 1px solid; */
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-start; */
    /* padding: 2rem; */
    gap: 3rem;
}

.navs-cols{
    /* border: 1px solid; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0rem 1rem;  
    gap: 1rem;
    list-style-type: none;
}

.cols-title{
    font-size: var(--size-lg);
    font-weight: 500;
}

.navs-cols a{
    text-decoration: none;
    font-size: var(--size-sm);
    font-weight: 500;
    color: var(--clr-slate800);
    /* border:1px solid; */

}

.navs-cols a:hover{
    color: var(--clr-cyan);
}

.footer-socials-container{
    /* border:1px solid; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
}

.footer-socials-container a{
    font-size: var(--size-3xl);
    color: var(--clr-slate800);
    /* border: 1px solid; */
    transition: 0.3s ease-out;
}

.footer-socials-container a:hover{
    color: var(--clr-dark);
    transform: translateY(-3px)
}

.footer-row2-container{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    color: var(--clr-dark);
    /* padding: 0 0rem 1rem 1rem; */
    align-self: flex-start;
    padding-left: 0.5rem;
    /* justify-self: flex-end; */
    /* padding-top: 0.5rem; */
    font-size: var(--size-base);
    font-weight: 500;
}

.footer-terms{
    text-decoration: none;
    color: var(--clr-dark);
}

.footer-terms:hover{
    color: var(--clr-cyan);
}