:root {
    --clr-dark: hsl(225, 46%, 5%);
    --clr-light: #f1f5f9;
    --clr-slate400: #94a3b8;
    --clr-slate600: #475569;
    --clr-slate800: rgb(30, 41, 59);
    --clr-cyan: #07b6d5;
    --clr-indigo: #4f46e5;
 /* cyan rgb(6, 182, 212) */
 /* indigo rgb(79, 70, 229) */

 /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.85rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-xxl: 1.375rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.5rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Euclid Circular A', sans-serif;
    background-color: var(--clr-light);
    /* background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    
    background-position: 100px -200px; 
    background-attachment: fixed;
    background-size:cover; */
    color: var(--clr-dark);
    position: relative;
}

.back-to-top-btn{
    position: fixed;
    bottom: 0;
    right:3rem;
    z-index: 9999;
    width: 4%;
    height: 6%;
}

.back-to-top-btn span{
    color: var(--clr-light);
    font-size: var(--size-2xl);
}
