/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg  */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


/* .btn{
    display: inline-block;
    font-weight:600;
    text-decoration: none;
    background-color: var(--clr-cyan);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(6, 182, 212, 0.5) , 0 3px 3px rgba(6, 182, 212, 0.5);
    transition: box-shadow 0.5s, background-color 0.5s, transform 0.5s;
}

.btn:hover{
    background-color: hsl(189, 94%, 33%);
    transform: translateY(-0.2rem);
    box-shadow: 0px 10px 15px rgba(6, 182, 212, 0.25) , 0 7px 7px rgba(6, 182, 212, 0.22);
} */

arrow{
    font-size: var(--size-xl);
    opacity: 0;
    transition: 0.1s ease-in-out;
}


.btn2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    text-decoration: none;
    background-color: var(--clr-cyan);
    color: var(--clr-light);
    padding: 0.5em 1em 0.5em 2.2em;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(6, 182, 212, 0.5) , 0 3px 3px rgba(6, 182, 212, 0.5);
    transition: box-shadow 0.5s, background-color 0.5s; 
}

.btn2 span{
    transition: 0.2s ease-out;
}

.btn2:hover{
    background-color: hsl(189, 94%, 33%);
    box-shadow: 0px 10px 15px rgba(6, 182, 212, 0.25) , 0 7px 7px rgba(6, 182, 212, 0.22);

}

.btn2:hover arrow{
    opacity: 1;
}

.btn2:hover span{
    transform: translateX(-10px);
}



.getplanbtn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    text-decoration: none;
    background-color: var(--clr-cyan);
    color: var(--clr-light);
    padding: 0.5em 3em 0.5em 4.2em;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(6, 182, 212, 0.5) , 0 3px 3px rgba(6, 182, 212, 0.5);
    transition: box-shadow 0.5s, background-color 0.5s; 
}

.getplanbtn span{
    transition: 0.2s ease-out;
}

.getplanbtn:hover{
    background-color: hsl(189, 94%, 33%);
    box-shadow: 0px 10px 15px rgba(6, 182, 212, 0.25) , 0 7px 7px rgba(6, 182, 212, 0.22);

}

.getplanbtn:hover arrow{
    opacity: 1;
}

.getplanbtn:hover span{
    transform: translateX(-10px);
}





.btn3{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    text-decoration: none;
    background-color: var(--clr-cyan);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(6, 182, 212, 0.5) , 0 3px 3px rgba(6, 182, 212, 0.5);
    transition: box-shadow 0.5s, background-color 0.5s; 
}
.btn3 span{
    transition: 0.2s ease-out;
}

.btn3:hover{
    background-color: hsl(189, 94%, 33%);
    box-shadow: 0px 10px 15px rgba(6, 182, 212, 0.25) , 0 7px 7px rgba(6, 182, 212, 0.22);
}

.btn3:hover span{
    transform: translateY(-5px);
}



.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 0.5rem; */
    /* padding-right: 0.5rem; */
    /* border: 1px solid red; */
    
}

.spacing {
    margin-top: 4rem;
}



@media (min-width: 475px) {
    .container{
        max-width: 475px;
    }

}


@media (min-width: 640px) {
    .container{
        max-width: 640px;
    }

}


@media (min-width: 768px) {
    .container{
        max-width: 768px;
    }

}


@media (min-width: 1024px) {
    .container{
        max-width: 1024px;
    }

}


@media (min-width: 1280px) {
    .container{
        max-width: 1280px;
    }

}


@media (min-width: 1536px) {
    .container{
        max-width: 1536px;
    }

}

